.App {
  font-family: sans-serif;
}

.user-list {
  max-width: 40rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr auto;
  grid-gap: 1rem;
}

.user-list > li {
  display: contents;
}
